* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: white;
    height: 100vh;
}

header {
    padding: 48px;
    width: 100%;
    background-color: #09090A;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

button {
    /*Característica da "caixa"*/
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    background-color: transparent;
    color: white;
    /*Espaçamento*/
    display: flex;
    align-items: center;
    gap: 12px;
    /*Fonte*/
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

#form-habits {
    padding: 182px 48px 48px;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
}

.habits {
    margin-top: 60px;
    gap: 24px;

    display: flex;
    flex-direction: column;
}

.habit {
    width: 64px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
}

.days {
    display:flex;
    gap: 48px;
    margin-left: 32px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;
    color: #A1A1AA;

    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;
    text-align: center;
}

input {
    -webkit-appearance: none;
    appearance: none;

    width: 64px;
    height: 64px;
    border: 2px solid #27272A;
    border-radius: 8px;
    background: #18181B;
}

input:checked {
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}

@media (max-width: 570px) {
    button div {
        display: none;
    }
}